header {
  border-bottom: 1px solid $secondary-color;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $tertiary-color;
  h1 {
    margin-left: 1%;
  }
  ul {
    display: flex;
    li {
      padding: 14px;
      list-style-type: none;
      margin-left: 10px;
      margin-right: 10px;
      @media only screen and (max-width: 1040px) {
        padding: 5px;
      }
    }
    li:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border: 1px solid $secondary-color;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }
}
